#modal {
    align-items: center;
    bottom: 0;
    display: flex;
    /* height: 100%; */
    left: 0;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    /* width: 100%; */
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    /* height: 100%; */
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    /* width: 100%; */
}

#modal-content {
    background-color: white;
    position: absolute;
}
