body {
    background: #141414;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 320px;
    overflow-x: hidden;
}

.browse-container {
    overflow: hidden;
    padding-bottom: 100px;
    width: 100vw;
}

.center-flex {
    align-items: center;
    display: flex;
}

.noshow {
    display: none;
}

.shown {
    display: block;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}
