/* TODO Add site wide styles */
body {
    background: #141414;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 320px;
}

.center-flex {
    align-items: center;
    display: flex;
}

.noshow {
    display: none;
}

.shown {
    display: block;
}
