/* **************************** */
/* SEARCH PAGE */
/* **************************** */

.display-page-container {
    min-height: 60vh;
}

.search-page-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0 6vw;
}

.search-page-container .spinner-item-wrapper {
    margin-bottom: 0.6vw;
}

/* **************************** */
/* MEDIA QUERIES */
/* **************************** */

@media screen and (min-width: 769px) {
    .search-page-container .spinner-item-wrapper {
        margin-bottom: 0.8vw;
    }
}
