.navigation-wrapper .main-header {
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* padding: 10px 30px 0 50px !important; */
    /* width: 100%; */
}

.navigation-wrapper .main-logo {
    /* width: 150px; */
    /* height: 60px; */
    height: 40px;
    width: 100px;
    /* z-index: 2; */
}

.navigation-wrapper .nav-items {
    justify-content: space-between;
    /* align-items: center; */
    width: 88%;
    /* padding-top: 3px; */
}

.navigation-wrapper .nav-items * {
    /* color: lightgrey; */
    /* color: #e5e5e599; */
}

/* .navigation-wrapper .nav-links {
    padding-top: 7px;
} */

.navigation-wrapper .regular {
    display: none;
    /* display: none !important; */
}

.navigation-wrapper .nav-link-item {
    font-size: 13px;
    padding: 0 10px;
    white-space: nowrap;
    color: #e5e5e599;
}

.navigation-wrapper .noh:hover {
    /* font-weight: bolder; */
    color: #b3b3b399;
}

.navigation-wrapper .nav-link-item.active {
    color: #fff;
    font-weight: 500;
}

.navigation-wrapper .noh {
    font-size: 11px;
    transition: color 0.2s linear;
}

.navigation-wrapper .hamburger {
    /* display: none !important; */
    cursor: pointer;
    font-size: 13px;
    /* padding-top: 16px; */
    position: relative;

    span {
        /* color: white; */
        margin: 0 7px 0 15px;
        font-weight: 500;
        /* color: white; */
    }

    i {
        /* color: white; */
        font-size: 15px;
        font-weight: 700;
    }

    #ham-space {
        height: 40px;
        /* width: 10px; */
        background: red;
    }
}

.navigation-wrapper .hamburger:hover {
    .in-hamburger {
        display: flex;
    }
}

.navigation-wrapper .ham-nav-links {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}

.navigation-wrapper .in-hamburger {
    width: 260px;
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    left: -90%;
    /* bottom: -10%; */
    top: 100%;
    /* display: none; */
    background: rgba(0, 0, 0, 0.8);
    border-top: 2px solid white;
    /* // margin-top: 40px; */
    transition: display 0.4s linear;

    .fa-caret-up {
        position: absolute;
        top: -14px;
        font-size: 22px;
    }

    a {
        padding: 20px;
        color: #979797;
    }

    a.active {
        color: #e5e5e5;
    }

    i {
        /* color: white; */
    }
}

.navigation-wrapper .in-hamburger:hover {
    display: flex;
}

.navigation-wrapper .nav-controls {
    position: relative;
}

.navigation-wrapper.nav-controls * {
    margin: 0 5px;
}

.navigation-wrapper .nav-control-wrapper {
    /* // height: 10vh; */
    position: absolute;
    top: 0;
    /* // left: 10px; */
    /* background: red;; */
    right: 9px;
    width: 56px;
    height: 50px;
    color: transparent;
    cursor: pointer;
}

.navigation-wrapper .onh {
    width: 100%;
    text-align: center;
    transition: background-color 0.2s linear;

}

.navigation-wrapper .onh:hover {
    background: rgba(20, 20, 20, 0.8);
}

/* **************************** */
/* SEARCH BAR */
/* **************************** */

.navigation-wrapper .search-controls {
    min-width: 30px;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid transparent;
    /* // border: 0.5px solid white; */
    /* padding: 5px 0 5px 5px; */
    padding: 5px;
    transition: width 0.3s linear, background-color 0.3s ease-in;
    box-sizing: border-box;
    overflow: hidden;

    position: absolute;
    right: 100%;
}

.navigation-wrapper .search-btn {
    font-size: 22px;
    width: 25px;
    margin: 0;
    cursor: pointer;
}

.navigation-wrapper .search-btn:active {
    font-size: 25px;
}

.navigation-wrapper .search-controls input {
    /* width: 230px; */
    width: 0px;
    background: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    transition: width 0.3s ease-in-out;

}

.navigation-wrapper .white {
    border-color: white;
    background: #141414;
}

.navigation-wrapper .not-displayed {
    width: 160px !important;
}

.navigation-wrapper .wsearch {
    display: flex;
    justify-content: space-between;
}

.navigation-wrapper .nav-controls {
    display: flex;
    justify-content: flex-end;
}

.navigation-wrapper .search-closer {
    /* // display: none; */
    width: 0px;
}

.navigation-wrapper .close-width {
    /* // display: block; */
    width: 22px;
}

/* **************************** */
/* PROFILE COMPONENT */
/* **************************** */

.navigation-wrapper .profile-dropdown *:hover {
    cursor: pointer;
}

.navigation-wrapper .profile-dropdown {
    display: flex;
    align-items: center;
    /* color: red; */
}

.navigation-wrapper .profile-logo {
    height: 35px;
    margin-right: 7px;
    width: 35px;
    border-radius: 5px;
}

.navigation-wrapper .fa-caret-down {
    transition: transform 0.1s linear;
}

.navigation-wrapper .rotated {
    transform: rotate(180deg);
}

.navigation-wrapper .dropdown-caret {
    font-size: 22px;
    position: absolute;
    top: 36px;
        right: 21px;
        /* width: 160px; */
}

.navigation-wrapper .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 0px;
    width: 160px;
    margin: 0;
    overflow: hidden;
    /* display: none; */
}

.navigation-wrapper #my-dropdown {
    border: 0.2px solid #333333;
    background: rgba(0, 0, 0, 0.8);
}

.navigation-wrapper #my-dropdown * {
    font-size: 12px;
}

.navigation-wrapper .drop-item {
    /* color: #fff; */
    /* color: red; */
    margin: 0;
    padding: 10px;
    letter-spacing: 0.5px;
    /* font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; */
    /* font-weight: 700; */
    /* // background-color: black; */
}

.navigation-wrapper .drop-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navigation-wrapper .manage-link {
    border-bottom: 0.2px solid #333333;
    /* // width: 100%; */
    padding: 20px 10px;
    /* font-weight: 500; */
    /* font-weight: 300; */
}

.navigation-wrapper .nav-control-wrapper {
    /* // height: 10vh; */
    position: absolute;
    top: 0;
    /* // left: 10px; */

    right: 9px;
    width: 56px;
    height: 50px;
    color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {
    .navigation-wrapper .regular {
        display: block;
    }

    .navigation-wrapper .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-height: 750px) {

}
