/* **************************** */
/* NAV BAR */
/* **************************** */
.navigation-wrapper {
    background: linear-gradient(to bottom, #222, transparent )
                #141414;
    position: fixed;
    top: 0;
    transition: background-color 0.2s linear;
    width: 100vw;
}

.navigation-wrapper.gradient-bg {
    background: linear-gradient(to bottom, #222, transparent);
    transition: background-color 0.4s linear;
}

.navigation-wrapper .main-logo {
    height: 40px;
    width: 100px;
}

.navigation-wrapper .nav-items {
    justify-content: space-between;
    width: 88%;
}

/* **************************** */
/* NAV LINKS */
/* **************************** */

.navigation-wrapper .regular {
    display: none;
}

.navigation-wrapper .nav-link-item {
    color: #e5e5e599;
    font-size: 13px;
    padding: 0 10px;
    white-space: nowrap;
}

.navigation-wrapper .noh:hover {
    color: #b3b3b399;
}

.navigation-wrapper .nav-link-item.active {
    color: #fff;
    font-weight: 500;
}

.navigation-wrapper .noh {
    font-size: 11px;
    transition: color 0.2s linear;
}

.navigation-wrapper .hamburger {
    cursor: pointer;
    font-size: 13px;
    position: relative;

    span {
        margin: 0 7px 0 15px;
        font-weight: 500;
    }

    i {
        font-size: 15px;
        font-weight: 700;
    }

    #ham-space {
        height: 40px;
    }
}

.navigation-wrapper .hamburger:hover {
    .in-hamburger {
        display: flex;
    }
}

.navigation-wrapper .ham-nav-links {
    flex-direction: column;
}

.navigation-wrapper .in-hamburger {
    background: rgba(0, 0, 0, 0.8);
    border-top: 2px solid white;
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    left: -90%;
    position: absolute;
    top: 100%;
    transition: display 0.4s linear;
    width: 260px;

    .fa-caret-up {
        font-size: 22px;
        position: absolute;
        top: -14px;
    }

    a {
        color: #979797;
        padding: 20px;
    }

    a.active {
        color: #e5e5e5;
    }
}

.navigation-wrapper .in-hamburger:hover {
    display: flex;
}

.navigation-wrapper .onh {
    text-align: center;
    transition: background-color 0.2s linear;
    width: 100%;
}

.navigation-wrapper .onh:hover {
    background: rgba(20, 20, 20, 0.8);
}

/* **************************** */
/* SEARCH BAR */
/* **************************** */

.navigation-wrapper .nav-controls {
    position: relative;
}

.navigation-wrapper .search-controls {
    border: 0.5px solid transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-width: 30px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 100%;
    transition: width 0.3s linear, background-color 0.3s ease-in;
}

.navigation-wrapper .search-btn {
    cursor: pointer;
    font-size: 22px;
    margin: 0;
    width: 25px;
}

.navigation-wrapper .search-btn:active {
    font-size: 25px;
}

.navigation-wrapper .search-controls input {
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
    transition: width 0.3s ease-in-out;
    width: 0px;
}

.navigation-wrapper .white {
    background: #141414;
    border-color: white;

}

.navigation-wrapper .not-displayed {
    width: 160px !important;
}

.navigation-wrapper .wsearch {
    display: flex;
    justify-content: space-between;
}

.navigation-wrapper .nav-controls {
    display: flex;
    justify-content: flex-end;
}

/* **************************** */
/* PROFILE COMPONENT */
/* **************************** */

.navigation-wrapper .profile-dropdown *:hover {
    cursor: pointer;
}

.navigation-wrapper .profile-logo {
    border-radius: 5px;
    height: 35px;
    margin-right: 7px;
    width: 35px;
}

.navigation-wrapper .fa-caret-down {
    transition: transform 0.1s linear;
}

.navigation-wrapper .rotated {
    transform: rotate(180deg);
}

.navigation-wrapper .dropdown-caret {
    font-size: 22px;
    position: absolute;
    right: 21px;
    top: 45px;
}

.navigation-wrapper .dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 57px;
    width: 160px;
}

.navigation-wrapper #my-dropdown {
    background: rgba(0, 0, 0, 0.8);
    border: 0.3px solid #777777;
}

.navigation-wrapper #my-dropdown * {
    font-size: 12px;
}

.navigation-wrapper .drop-item {
    letter-spacing: 0.5px;
    margin: 0;
    padding: 10px;
}

.navigation-wrapper .drop-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navigation-wrapper .manage-link {
    border-bottom: 0.2px solid #777777;
    padding: 20px 10px;
}

.navigation-wrapper .nav-control-wrapper {
    color: transparent;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 70px;
}


@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {
    .navigation-wrapper .regular {
        display: block;
    }

    .navigation-wrapper .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-height: 750px) {

}
